<div class="center hero-unit">
<h1>Velkommen til Odd Ingar's Golf App</h1>
<h2>
	Dette er hjemmesiden til Odd Ingar sin golf side
</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("golfball.jpeg", alt: "Golfball"), 'http://rubyonrails.org/' %>
